/* Inserta tu código aqui */

/*Header*/
nav {
	background-color: lightgray !important;
}

nav li a {
	padding-left: 5px; 
	padding-right: 5px;
}

a {
	text-decoration: none;
	color: black;
}

.uno {
	display: inline-block;
	margin-top: 5%;
	margin-left: 2%;
}

.punto {
	margin-left: 45%;
}

form {
	display: inline-block;
	margin-top: 1%;
}

.under {
	text-decoration: underline;
}
button {
	margin-top: 4%;
}
/*Section*/
/*primeracolumna*/
.historia {

	background-color: gray;
	width: 30%;
	color: white;
}

span {
	color: lightgray;
}

hr{
	border: solid 1px black;
}

.personas {
	width: 50%;
	height: 70%;
	margin-left: 20%;
	margin-top:-3%;
}

/*Segundayterceracolumna*/
.caja1 {
	background-color: lightgray;
	width: 115%;
	margin-left:-10%;
}
.vid{

    height:0px;
    width:100%;
    max-width:560px;
    padding-top:56.25%;
    position:relative;

}

.cajav{
	max-width: 560px;
    margin:auto;

}
iframe {
	  position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}

.dos { 
	width: 70%;
}

.pa {
	margin-top: -25%;
}

.ab {
	margin-left: -10%;
}

hr {
	width: 80%;
	margin-left: 0%;
}
.cajita {
	width: 100%;
	padding: 15%;
	background-color: gray;
	margin: 7%; 
	margin-left: -35%;
}

.cuadro1 {
	width: 100%;
	background-color: lightgray;
}

.large {
	width: 110%;
}
/*Footer*/


.gran {
	width: 102%;
	border:solid 3px black;
}



@media (max-width:768px) {
	.uno {
		margin-top: -290px;
		margin-bottom: -30px;
	}

	.punto {
		margin-left: 460px;
	}

	h1 {
		margin-bottom: -30px;
	}
}

@media (max-width: 600px) {

	.punto {
		margin-left: 300px;
	}

	.caja1 {
		width: 100%;
		margin-left: 1%;
	}

	.ab , .pa {
		margin: 0px;
		margin-left: 1%;
		margin-top: 5%;
	}

	.cajita {
		margin-left: 1%;
	}
	
}	.personas {
	margin-top: 0%;
}
